body {
    background-color: #f6f5f5;
}

.bg-color {
    background-color: #f6f5f5;
}

b {
    font-weight: bold;
}
.text-blue {
    color: #1687a7;
}

.font-size-lg {
    font-size: 68px;
}

.text-dark-blue {
    color: #276678;
}

.font-size-md {
    font-size: 30px;
}

.btn-blue {
    border: 1px solid #1687a7;
    color: #f6f5f5;
    background-color: #1687a7;
}

.btn-blue:hover {
    color: #1687a7;
    border: 1px solid #1687a7;
    background-color: #f6f5f5;
}

.btn-blue-border {
    color: #1687a7;
    border: 1px solid #1687a7;
}

.btn-blue-border:hover {
    border: 1px solid #1687a7;
    color: #f6f5f5;
    background-color: #1687a7;
}

.divider {
    height: 1px;
    background-color: #1687a7;
    opacity: 0.5;
}